section.skills{
  grid-column: 1 / 13;
  text-align: center;
  background-color: #3498DB;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 10px;
  background-image: url(assets/img/welcome_material_blue.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2{
    grid-column: 1 / 8;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Russo One', sans-serif;
  }
  p{
    font-family: 'Hind Siliguri', sans-serif;
  }

  .programming-container{
    grid-column: 3 / 6;
    background-color: white;
    border-radius: 37px;

    ul{
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;

    }
    h4{
      font-family: 'Hind Siliguri', sans-serif;
    }
    ul li{
      font-family: 'Hind Siliguri', sans-serif;
    }
  }

  .desktop-support-container{
    grid-column: 3 / 6;
    background-color: white;
    border-radius: 37px;
    margin-bottom: 50px;

    ul{
      list-style: none;
      margin: 0 0 10px 0;
      padding: 0;
    }
    h4{
      font-family: 'Hind Siliguri', sans-serif;
    }
    ul li{
      font-family: 'Hind Siliguri', sans-serif;
    }
  }
}
@media screen and (max-width: 1100px){
  section.skills{
    .programming-container{
      grid-column: 2 / 7;
    }

    .desktop-support-container{
      grid-column: 2 / 7;
    }
  }
}

@media screen and (max-width: 720px){
  section.skills{
    .programming-container{
      grid-column: 2 / 7;
    }

    .desktop-support-container{
      grid-column: 2 / 7;
    }
  }
}
