doctype html

head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title TechBytes | Now Loading...
  link(rel="stylesheet", href="loading.css")

body
  .pageContainer
    .left
    .middle
      .titleLogo
      .logo
      h1 Than you for your message!
      p You are now being redirected to TechBytes
    .right
link(href="https://code.jquery.com/jquery-3.2.1.js")
script( src="/scripts.js")
